<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visionki.wechat.mapper.WechatTagMapper" >
  <resultMap id="BaseResultMap" type="com.visionki.wechat.model.WechatTag" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="tag_id" property="tagId" jdbcType="BIGINT" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="qrcode_url" property="qrcodeUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, tag_id, tag_name, qrcode_url, create_time, update_time
  </sql>
</mapper>